<%= @info %>
  <form method="POST" action="/index">
  ЛОГИН:<input type="text" name="login"/><br/>
  ПАРОЛЬ:<input type="password" name="password"/><br/>
  <input type="submit" value="ПОЕХАЛИ"/>
  </form>
